{% extends 'base.html' %} {% from 'bootstrap5/form.html' import render_form %}
{% block title %}Edit Movies{% endblock %} {% block content %}
<div class="content">
  <h1 class="heading">Edit {{movie.title}}</h1>
  <p class="description">Edit Movie Attributes</p>
  <p>Edit Carefully: change fields you are not satisfied with</p>
    <form action="{{ url_for('edit', movie_id=movie.id)}}" method = "POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{form.title.label}} <br> {{form.title}}
            {% for err in form.title.errors %}
            <span style="color:red"> {{ err }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.release_year.label}} <br> {{form.release_year}}
            {% for err in form.release_year.errors %}
            <span style="color:red"> {{ err }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.rating.label}} <br> {{form.rating}}
            {% for err in form.rating.errors %}
            <span style="color:red"> {{ err }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.review.label}} <br> {{form.review}}
            {% for err in form.review.errors %}
            <span style="color:red"> {{ err }}</span>
            {% endfor %}
        </p>
        <p>
            {{form.overview.label}} <br> {{form.overview}}
            {% for err in form.overview.errors %}
            <span style="color:red"> {{ err }}</span>
            {% endfor %}
        </p>
        {{form.edit}}

    </form>
</div>
{% endblock %}


  </body>
</html>

